.main-container {
  display: flex;
  flex-direction: column;
  margin: 20px;

  .top-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #50340485;
  }

  .panels-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px - 40px);

    .historycollections-container {
      background-color: #0000ff21;
      border: 1px solid grey;
      width: 100%;
    }
  }
}




