.input-grp {
  display: flex;
  align-items: center;

  .input {
    height: 33px;
    border: none;
    background-color: white;

    &--invalid {
      background-color: #ff585f;
      color: white;

      &::placeholder {
        color: white;
      }
    }
  }
}

.input-grp-connect {
  width: 30%;
}




