.panel-listeners {
  background-color: #ff000014;
  border: 1px solid grey;
  width: 100%;
}

.panel-emitter {
  background-color: #0080001f;
  border: 1px solid grey;
  width: 100%;
}

.panel-history {
  background-color: #0080001f;
  border: 1px solid grey;
  width: 100%;
}

.panel-collections {
  background-color: #0080001f;
  border: 1px solid grey;
  width: 100%;
}